
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

/* set width of logo as the minimum of 200px & 50vw */
.logo-img {
	width:  200px;
}

/* set width of footer logo as the minimum of 200px & 50vw */
.logo-img-footer {
	width:  100px;
}

.slider {
	height:  500px;
}

